.landing-page__background {
  height: -webkit-calc(100vh - 157px); //height of the footer
  height: -moz-calc(100vh - 157px);
  height: calc(100vh - 157px);
  background-image: url("../images/pokemonBkg.jpg");
  background-size: cover;
  background-position: bottom;
}

.landing-page__overlay {
  height: 100%;
  background-color: rgba(0, 44, 114, 0.85);
}
