.landing-page__background {
  height: -webkit-calc(100vh - 178px); //height of the footer
  height: -moz-calc(100vh - 178px);
  height: calc(100vh - 178px);
  background-image: url("../images/pokemonBkg.jpg");
  background-size: cover;
  background-position: bottom;

  @include phone-only {
    height: -webkit-calc(100vh - 158px); //height of the footer
    height: -moz-calc(100vh - 158px);
    height: calc(100vh - 158px);
  }
}

.landing-page__overlay {
  height: 100%;
  background-color: rgba(0, 44, 114, 0.85);
}
