.new-pokemon__container {
  display: flex;
  justify-content: space-between;
}

.new-pokemon {
  background: rgb(38, 75, 135);
  width: 49.8%;
  height: 90px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
}

.new-pokemon--prev {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 20% 60%, 11% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 20% 60%, 11% 100%, 0 100%);
}

.new-pokemon--next {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 89% 100%, 80% 60%, 0 60%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 89% 100%, 80% 60%, 0 60%, 0 0);
}

.new-pokemon__text-container {
  display: flex;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  position: absolute;
  top: 0;
  left: 20px;

  @include phone-only {
    left: 10px;
    font-size: 1.6rem;
  }
}

.new-pokemon__text-container--flex-rtl {
  flex-direction: row-reverse;
  right: 20px;

  @include phone-only {
    right: 10px;
  }
}

.new-pokemon__icon {
  margin: 15px 0;
  color: rgb(212, 65, 71);
  transition: all 0.2s ease-out;

  @include phone-only {
    display: none;
  }
}

.new-pokemon:hover .new-pokemon__icon {
  transform: scale(1.6);
  color: rgb(212, 65, 71);
}

.new-pokemon__id {
  margin: 15px 10px;
  color: rgb(212, 65, 71);

  @include phone-only {
    margin: 19px 5px;
  }
}

.new-pokemon__name {
  margin: 15px 0;

  @include phone-only {
    margin: 19px 0;
  }
}
