.text-container {
  width: 80%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 50px 20px;

  @include phone-only {
  }
}

.text-container__title {
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  margin: 0;

  @include phone-only {
    font-size: 2rem;
  }
}

.text-container__input {
  margin-top: 50px;
  margin-bottom: 5px;
  width: 200px;
  font-size: 2.2rem;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;

  @include phone-only {
    font-size: 1.8rem;
    width: 150px;
  }
}

.text-container__input:focus {
  outline: none;
}
