.wrapper {
  @include phone-only {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include tablet-portrait {
    margin-left: 50px;
    margin-right: 50px;
  }

  @include tablet-landscape {
    margin-left: 100px;
    margin-right: 100px;
  }

  @include desktop {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.wrapper--header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phone-only {
    display: block;
  }
}

.wrapper--footer {
  display: flex;
  justify-content: space-between;
}

.wrapper--modal {
  margin-left: 20px;
  margin-right: 20px;
}

.wrapper--stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
